*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}
.container{
    width: 100%;
    height: 100vh;
    background: #434750;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    background: #3e3f46;
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
}
.nav-bar .link{
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    width: 80px;
}
.nav-bar .link img{
    width: 30px;
    height: 30px;
}
.nav-bar .link p{
    font-weight: 500;
    margin: 10px;
    color: #fff;
    display: none;
}
.nav-bar .active{
    background: var(--clr);
    width: 140px;
    transition:0.5s;
}
.nav-bar .link.active p{
    display: block;
}
.nav-bar .link.active img{
    opacity: 1;
}